@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    /* default: light mode color scheme */
    --primary-color: '#e5e7eb'; 
    --secondary-color: '#ffffff';

    --text-color: black;
    --link-background-color: '#e5e7eb';

    --icon-background-color: '#e5e7eb';
}

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML Selectors */
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-color);
}

button {
    background-color: transparent;
}

section {
    margin-top: 15px;
    border-radius: 15px;
    padding: 1.5rem;
}

section, section > * {
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: fit-content;
    margin-bottom: 3px;
}

.project {
    float: left;
    margin-right: 15px;
}

.project:last-child {
    margin-bottom: 150px;
}

.link-div {
    position: relative;
    right: 2px;
    margin-top: 5px;
    padding: 10px;
    background-color: var(--link-background-color);
    border-radius: 15px;
    height: 25px;
}

.link-div > * {
    background-color: inherit;
    border-radius: inherit;
    position: relative;
    bottom: 7.5px;
    color: var(--text-color);
    font-size: 0.875rem;
    text-decoration: none;
}

.link-img > svg {
    position: relative;
    top: 2px;
    right: 2px;

    width: 12.5px;
    height: 12.5px;
}

.link-img > svg > * {
    stroke: var(--text-color);
}

input[type=text] {
    font-size: 12pt;
    inline-size: 400px;
    padding: 0.75rem;
    border: none;
    border-radius: 15px;   
    outline-offset: -2px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.link-div:hover {
    opacity: 0.75;
    cursor: pointer;
}

.pfp {
    border-radius: 50px;
}

.icon {
    border-radius: 15px;
}

#content {
   margin-bottom: 100px;
}

#content > * {
    max-width: 250px;
}

#content > .project {
    min-height: 300px;
    max-height: 300px;
}

#directions {
    font-size: 12pt;
    padding: 0.75rem;
    border-radius: 15px;   
    color: var(--text-color);
    margin-bottom: 25px;
}

#project-heading {
    color: var(--text-color);
    margin-top: 25px;
}

#ui-color-mode {
    border: 2px solid transparent;
    border-radius: 2rem;
    box-sizing: border-box;
    color: var(--text-color);
    display: flex;
    padding: 0.25rem;
    
    position: fixed;
    bottom: 64px;
    right: 16px;
}

#ui-color-mode:hover {
    opacity: 0.75;
    cursor: pointer;
}

#error-content > * {
    background-color: rgb(247, 125, 125);

    height: 50px;
}

#error-content > * > * {
    background-color: rgb(247, 125, 125);
    color: white;

    display: inline-block;
    position: relative;
    bottom: 18px;
}

#error-content > * > img {
    position: relative;
    bottom: 10px;
}

#error-content > * > p {
    position: relative;
    left: 7.5px;
}

circle {
    fill: var(--link-background-color);
}